:root
{
    --bg-black-900:#000000;
    --bg-black-100:#fdf9ff;
    --bg-black-100:#fdf9ff;
    --bg-black-100:#fdf9ff;

}

body{
    margin: 0;
    padding: 0; 
    line-height: 1.5;
    font-size: 20PX;
}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    
}